.hidden {
    content-visibility: hidden;
}

.dropDown-btn {
    background-color: hsl(0, 0%, 20%);
    padding: 0.5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #3a3a3a;
}


.colorChanger{
    width:2rem;
    height: 2rem;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    display: flex;
}

.colorChangerContent{
    display: none;
}
.colorChanger:hover .colorChangerContent{
    display: block;
}
#colorOne{
    min-width: 50%;
    background-color: #202020;
}
#colorTwo{
    min-width: 50%;
    background-color: #e3d4a5;
}


